.newList {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	margin-top: 5rem;
	padding: 1em;
	.leftNewList {
		display: flex;
		width: 40%;
		h1 {
			display: inline-block;
			padding-left: 1em;
			color: #fff;
			padding-right: 1em;
		}
	}

	.projectsNewDesignCount {
		color: #fff;
		font-size: 1.5em;
	}
}
