.projects {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 40px;
	background-color: red;
	font-family: "Lato", sans-serif;

	h3 {
		display: inline-block;
		padding-left: 1em;
		color: #a9acb0;
	}
}
