.projectsTechUpgrade {
	display: flex;
	justify-content: space-between;
	width: 100%;
	background-color: blue;
	padding: 1em;
	h2 {
		display: inline-block;
		padding-left: 1em;
		color: #a9acb0;
	}
	.projectsUpgradeCount {
		color: #fff;
		font-size: 1.5em;
	}
}
