.projectsTechUpgrade {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 1em;
	.leftUpgrade {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 40%;
		h1 {
			display: inline-block;
			padding-left: 1em;
			color: #fff;
		}
	}
	.projectsUpgradeCount {
		color: #fff;
		font-size: 1.5em;
	}
}
