.overdue {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	padding-top: 6rem;
	font-family: "Lato", sans-serif;
	.toggleOverdue {
		display: flex;
		align-items: center;
		width: 100%;
		padding-bottom: 1rem;

		h1 {
			display: inline-block;
			color: #ffffff;
			font-size: 3.2rem;
			font-weight: 400;
			letter-spacing: 0.1rem;
			padding-right: 2rem;
		}
	}

	.overdueCard {
		display: flex;
		flex-direction: column;
		padding: 3rem;
		border-radius: 2rem;
		background-color: #2f3137;
		.headOverdue {
			display: flex;
			justify-content: space-between;
			width: 100%;
			// background-color: blue;
			padding: 2rem;
			.inputRadio {
				display: flex;
				align-items: center;
				gap: 80px;
				width: 20%;
				color: #ffff;

				font-size: 2rem;
				.checkTask {
					width: 15%;
					height: 80%;
					background-color: #2f3137;
					border: solid 5px #ffffff;
					border-radius: 50%;
				}
			}
		}
	}

	.overdueBackLog {
		display: flex;
		justify-content: space-between;
		// width: 40%;
		.dayCategory {
			display: flex;
			align-items: center;
			justify-content: space-around;
			width: 20%;
			padding: 0 4rem 0 4rem;
			.day {
				font-size: 1.5rem;
				color: #b74b57;
				font-weight: 400;
			}
			.dayCat {
				font-size: 1.5rem;
				color: #646667;
			}
		}
	}
	.starCalendar {
		display: flex;
		justify-content: space-between;
		width: 10%;
		padding-right: 2rem;
		gap: 20px;
	}
}

// background-color: #2f3137;
// s

// 646667
