:root {
	--form-control-color: ;
}
.overdue {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	padding-top: 6rem;
	font-family: "Lato", sans-serif;
	.toggleOverdue {
		display: flex;
		align-items: center;
		width: 100%;
		padding-bottom: 1rem;

		h1 {
			display: inline-block;
			color: #ffffff;
			font-size: 3.2rem;
			font-weight: 400;
			letter-spacing: 0.1rem;
			padding-right: 2rem;
		}
		svg {
			width: 100%;
			height: 6rem;
			font-weight: 200;
		}
	}

	.overdueCard {
		display: flex;
		flex-direction: column;
		padding: 3rem;
		border-radius: 2rem;
		background-color: #2f3137;
		.headOverdue {
			display: flex;
			justify-content: space-between;
			width: 100%;
			// background-color: blue;
			padding: 2rem;
			.inputRadio {
				display: flex;
				align-items: center;
				gap: 80px;
				width: 20%;
				color: #ffff;
				font-size: 2rem;
				input[type="radio"] {
					border: 0 !important;
					clip: rect(1px, 1px, 1px, 1px);
					height: 1px !important;
					overflow: hidden;
					padding: 0 !important;
					position: absolute !important;
					width: 1px !important;
				}

				label {
					color: #fff;
					display: inline-flex;
					align-items: center;
				}

				label::before {
					content: "";
					display: block;
					height: 1.25em;
					width: 1.25em;
					border: solid 1px #ccc;
					border-radius: 50%;
					margin-right: 0.5em;
					transition: border ease-in 150ms, box-shadow ease-in 150ms;
				}

				input[type="radio"]:checked + label,
				input[type="radio"]:focus + label {
					color: black;
				}

				input[type="radio"]:checked + label::before {
					background: radial-gradient(
						0.75em circle at center,
						currentColor 50%,
						transparent 55%
					);
					box-shadow: 0 0 1em 0 rgba(10, 150, 255, 0.75);
					border-color: currentColor;
				}

				input[type="radio"]:focus + label::before {
					box-shadow: 0 0 1em 0 rgba(10, 150, 255, 0.75);
					border-color: currentColor;
				}
			}
		}
	}

	.overdueBackLog {
		display: flex;
		justify-content: space-between;
		.dayCategory {
			display: flex;
			align-items: center;
			justify-content: space-around;
			width: 20%;
			padding: 0 4rem 0 4rem;
			.day {
				font-size: 1.5rem;
				color: #b74b57;
				font-weight: 400;
			}
			.dayCat {
				font-size: 1.5rem;
				color: #646667;
			}
		}
	}
	.starCalendar {
		display: flex;
		justify-content: space-between;
		width: 10%;
		padding-right: 2rem;
		gap: 20px;
	}
}
