.overdue {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	padding-top: 6rem;
	background-color: red;
	.toggleOverdue {
		display: flex;
		align-items: center;
		width: 100%;
		padding-bottom: 1rem;

		h1 {
			display: inline-block;
			color: #ffffff;
			font-size: 3.2rem;
			font-weight: 400;
			letter-spacing: 0.1rem;
			padding-right: 2rem;
		}
	}

	.overdueCard {
		display: flex;
		flex-direction: column;
		.headOverdue {
			display: flex;
			justify-content: space-between;
			width: 100%;
			background-color: blue;
			padding: 2rem;
			.inputRadio {
				display: flex;
				align-items: center;
				gap: 80px;
				width: 20%;
				color: #ffff;
				// background-color: yellow;
				// border-radius: 6px;
				font-size: 2rem;
				.checkTask {
					width: 15%;
					height: 80%;
					background-color: #2f3137;
					border: solid 5px #ffffff;
					border-radius: 50%;
				}
			}
		}
	}
}

// background-color: #2f3137;
// s
