.addTaskControl {
	display: flex;
	align-items: center;
	padding-left: 2rem;
	margin-top: 2rem;
	text-align: left;
	font-family: "Lato", sans-serif;
	font-weight: 400;

	background: none;
	border: none;
	cursor: pointer;
}

.addTaskControl h1 {
	display: inline-block;
	color: #9bcddb;
	font-size: 3.4em;
	font-weight: 400;
	padding-left: 1.5em;
	letter-spacing: 0.01em;
}

.addTaskControl:focus-visible {
	outline: 2px solid #9bcddb;
	outline-offset: 4px;
}
