.addTaskControl {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-left: 2rem;
	font-family: "Lato", sans-serif;
	font-weight: 400;
	margin-top: 2rem;
	// background-color: red;

	h1 {
		display: inline-block;
		color: #9cbddb;
		font-size: 3.4em;
		font-weight: 400;
		padding-left: 1.5em;
		letter-spacing: 0.01em;
	}
}
