.addTaskControl {
	display: flex;
	align-items: center;
	padding-left: 2rem;
	font-family: "Lato", sans-serif;
	font-weight: 400;

	span {
		display: inline-block;
		color: #a8c6ea;
		width: 30px;
		font-size: 8em;
		padding: 0 8rem 0 0.1rem;
		font-weight: 300;
	}
	h1 {
		display: inline-block;
		color: #a8c6ea;
		font-size: 3.6em;
		font-weight: 400;
	}
}
