.tasks {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 1em;
	font-family: "Lato", sans-serif;

	.tasksHead {
		display: flex;
		align-items: center;
		width: 40%;
		h1 {
			display: inline-block;
			padding-left: 1em;
			color: #d3d5d9;
		}
	}

	.tasksCount {
		color: #fff;
		font-size: 1.5em;
	}
}
