.todoTodayContainer {
	display: flex;
	flex-direction: column;
	width: 100%;
	background-color: lightcoral;
	height: 100%;
	// gap: 2rem;

	.toggleToday {
		display: flex;
		flex-direction: column;
		align-items: center;
		// align-content: center;
		width: 100%;
		height: 20%;
		// padding: 1rem;
		// gap: 20px;
		// background-color: green;

		h1 {
			display: inline-block;
			color: #fff;
			font-size: 3.2rem;
			font-weight: 400;
			letter-spacing: 0.1rem;
		}
	}
}
