.dateTimeClock {
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
	color: 40%;

	.dateTime {
		display: flex;
		width: 90%;
		height: 100%;
		flex-direction: column;

		.date {
			display: flex;
			flex-direction: column;
			.headDate {
				display: flex;
				justify-content: right;
				font-size: 5rem;
				color: #ffffff;
			}
		}
		.time {
			display: flex;
			justify-content: right;
			width: 100%;
			height: 60px;
			.headTime {
				display: flex;
				justify-content: right;
				color: #fff;
				& > p {
					width: 100%;
					height: 100%;
					text-align: right;
					font-size: 3em;
					color: #b3b2b5;
				}
			}
		}
	}
}
