.workSpace {
	display: flex;
	// justify-content: space-between;
	flex-direction: column;
	align-items: center;
	gap: 40px;
	width: 100%;
	background-color: yellow;
	// background-color: #2f3137;
	height: 100%;
	font-family: "Lato", sans-serif;
}
