.workSpace {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 0.75rem 0;

	.heading {
		margin: 0;
		padding: 1.2rem 0.75rem 1.2rem 0.75rem;
		font-size: 0.95rem;
		font-weight: 700;
		letter-spacing: 0.02em;
		color: rgba(255, 255, 255, 0.6);

		.list {
			display: grid;
			gap: 0.25rem;
			padding: 0 0.75rem 0.75rem 0.75rem;
		}
	}
}
