.workSpace {
	display: flex;
	flex-direction: column;
	gap: 40px;
	width: 100%;
	background-color: #2f3137;
	font-family: "Lato", sans-serif;
	border-top: 4px solid #a9acb0;
	border-right: none;
	border-bottom: 4px solid #a9acb0;
	border-left: none;
	h2 {
		display: inline-block;
		color: #a9acb0;
		padding-top: 1rem;
	}
}
