.search {
	display: flex;
	justify-content: right;
	position: relative;
	width: 100%;
	height: 10%;
	background-color: red;
	background-color: #2f3137;
	font-family: "Lato", sans-serif;

	input {
		width: 100%;
		padding: 2em;
		background: #393a3e;
		border-radius: 2em;

		border: none;
		background-color: #393a3e;
	}

	input::placeholder {
		font-size: 2em;
		padding-left: 0.5em;
	}
}
