.content {
	display: flex;
	width: 100%;
	height: 100%;
	background-color: var(--bg-app);
	align-items: stretch;

	overflow: hidden;
}

.main {
	flex: 1;
	min-width: 0;
	overflow-y: auto;
	overflow-x: hidden;
}
