.header {
	display: flex;
	justify-content: space-between;
	background-color: red;
	color: #ffffff;
	width: 100%;
	font-family: Lato, sans-serif;
	.mojoHeader {
		display: flex;
		width: 50%;
		align-items: center;

		.mojoImg {
			display: flex;
			border-radius: 50%;
			padding-right: 2rem;
			& img {
				border-radius: 50%;
				width: 8rem;
				height: 8rem;
			}
		}
	}

	.split {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		width: 50%;
		img {
			width: 60px;
			transform: rotate(-90deg);
		}
	}

	.dropDownHandler {
		width: 100%;

		svg {
			width: 100%;
			height: 5em;
			font-weight: 200;
		}
	}

	h1 {
		display: inline-block;
		font-size: 3em;
		font-weight: 400;
	}
}
