.header {
	display: flex;
	justify-content: space-between;
	color: #ffffff;
	width: 100%;
	font-family: Lato, sans-serif;
	background: blue;
	.mojoHeader {
		display: flex;
		justify-content: space-around;
		// flex-direction: column;
		width: 50%;
		align-items: center;

		.mojoImg {
			display: flex;
			border-radius: 50%;
			padding: 1rem;
			& > img {
				border-radius: 50%;
				width: 8rem;
				height: 8rem;
				object-fit: fill;
			}
		}
	}

	svg {
		width: 200px;
	}

	.splitScreen {
		display: flex;
		justify-content: right;
		width: 50%;
		padding-right: 1rem;
		background-color: red;
		margin: auto;
	}
}
