.header {
	display: flex;
	justify-content: space-between;
	color: #ffffff;
	width: 100%;
	font-family: Lato, sans-serif;
	.mojoHeader {
		display: flex;
		justify-content: space-around;
		width: 50%;
		align-items: center;

		.mojoImg {
			display: flex;
			border-radius: 50%;
			padding: 0.5rem;
			& img {
				border-radius: 50%;
				width: 8rem;
				height: 8rem;
				object-fit: fill;
			}
		}
	}

	.split {
		display: flex;
		justify-content: right;
		align-items: center;
		width: 50%;
		padding-left: 12rem;
	}

	svg {
		width: 100%;
		height: 5em;
		font-weight: 300;
	}
	h1 {
		display: inline-block;
		font-size: 3em;
		font-weight: 400;
	}
}
