.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	background-color: red;
	height: 150px;
	font-family: "Lato", sans-serif;
	.heading {
		display: inline-block;
		width: 60%;
		height: 100%;
		color: #fff;
		font-size: 3rem;
		padding-left: 7em;
		background-color: blue;
	}

	.timeWrapper {
		display: flex;
		justify-content: space-around;
		align-items: center;
		width: 40%;
		height: 100%;
		color: 40%;
		background-color: green;

		.dateTime {
			display: flex;
			width: 70%;
			height: 100%;
			flex-direction: column;
			background-color: pink;
			.headDate {
				display: flex;
				justify-content: right;
				font-size: 5rem;
				color: #ffffff;
			}
			.headTime {
				display: flex;
				justify-content: right;
				width: 100%;
				height: 100%;
				text-align: right;
				background-color: aqua;
				font-size: 3em;
				color: #b3b2b5;
			}
		}

		.navbarIcons {
			display: flex;
			width: 30%;
			background-color: blue;
			padding-left: 2em;
			.toggle {
				display: flex;
				justify-content: space-around;
				width: 100%;
			}
		}
	}
}
