.dateTime {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	text-align: right;
	line-height: 1.1;
}

.date {
	display: flex;
	justify-content: flex-end;

	.headDate {
		font-size: 1.1rem;
		font-weight: 600;
		color: #ffffff;
	}
}

.time {
	display: flex;
	justify-content: flex-end;
	margin-top: 0.25rem;

	.headTime {
		font-size: 0.95rem;
		font-weight: 500;
		color: #b3b2b5;
	}
}
