.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin-top: 2rem;
	height: 150px;
	font-family: "Lato", sans-serif;
	.heading {
		display: inline-block;
		width: 60%;
		height: 100%;
		color: #fff;
		font-size: 3rem;
		padding-left: 7em;
	}

	.timeWrapper {
		display: flex;
		justify-content: space-around;
		align-items: center;
		width: 40%;
		height: 100%;
		color: 40%;

		.dateTime {
			display: flex;
			width: 100%;
			height: 100%;
			flex-direction: column;
		}

		.navbarIcons {
			display: flex;
			width: 30%;
			padding: 0em 2em 0em 1em;
			.toggle {
				display: flex;
				justify-content: space-around;
				width: 100%;
			}
		}
	}
}
