.notes {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	background-color: red;
	padding: 1em;
	font-family: "Lato", sans-serif;

	.notesHead {
		display: flex;
		align-items: center;
		width: 40%;
		background-color: blue;
		h1 {
			display: inline-block;
			padding-left: 1em;
			color: #a9acb0;
		}
	}

	.notesCount {
		color: #fff;
		font-size: 1.5em;
	}
}
