/* separators inside sidebar */
.sideBar {
	width: clamp(26rem, 27vw, 28rem);
	min-width: clamp(26rem, 27vw, 28rem);
	flex: 0 0 clamp(26rem, 27vw, 28rem);
	flex-shrink: 0;
	display: flex;
	flex-direction: column;

	padding: 1.2rem 1.2rem; /* sidebar internal spacing */
	gap: 2.8rem;
	background-color: #2f3137;
	min-height: 100vh;
}

.sideBar hr {
	margin: 0.75rem 0;
}
