/* separators inside sidebar */
.sideBar {
	flex: 0 0 34rem;
	width: 34rem;
	flex-shrink: 0;

	display: flex;
	flex-direction: column;
	// align-items: stretch;

	padding: 1rem;
	gap: 1rem;
	background-color: #2f3137;
	min-height: 100vh;
}

.sideBar hr {
	margin: 0.75rem 0;
}
