/* separators inside sidebar */
.sideBar {
	width: clamp(24rem, 25vw, 26rem);
	min-width: clamp(24rem, 25vw, 26rem);
	flex: 0 0 clamp(24rem, 25vw, 26rem);
	flex-shrink: 0;
	display: flex;
	flex-direction: column;

	padding: 1rem; /* sidebar internal spacing */
	gap: 1rem;
	background-color: #2f3137;
	min-height: 100vh;
}

.sideBar hr {
	margin: 0.75rem 0;
}
