.sideBar {
	display: flex;
	flex-direction: column;
	// justify-content: space-between;
	// align-items: center;
	width: 25%;
	background-color: green;
	// background-color: #2f3137;
	height: 100%;
}
