.sideBar {
	display: flex;
	flex-direction: column;
	gap: 2.5rem;

	width: clamp(16rem, 18vw, 20rem);
	flex: 0 0 clamp(16rem, 18vw, 20rem);

	background-color: #2f3137;
	min-height: 100vh;
	padding: 2rem;
	font-family: "Lato", sans-serif;
}
