.newTodo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 40%;
	background-color: #2f3137;
	border-radius: 1rem;
	// height: 40%;
	// background-color: red;
	font-family: "Lato", sans-serif;

	.newTodoForm {
		display: flex;
		flex-direction: column;
		// justify-content: space-around;
		width: 100%;
		// height: 50px;
		border-radius: 10px;
		align-items: center;

		h1 {
			display: inline-block;
			color: #9cbddb;
			font-size: 3.4em;
			font-weight: 400;
			padding: 0.8em;
			letter-spacing: 0.01em;
		}

		textarea {
			width: 100%;
			// height: 20%;
			background-color: blue;
		}

		input {
			width: 100%;
			height: 100px;
			opacity: 0.5;
			background-color: #8fd9ee;
			border-radius: 8px 0px 0px 8px;
			// border: transparentize($color: #000000, $amount: 0);
		}
	}
	// input::placeholder {
	// 	opacity: 0.8;
	// 	padding-left: 2rem;
	// 	color: #000000;
	// 	font-size: 15px;
	// }
}
