.newTodo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 40%;
	min-height: 9em;
	background-color: #ffffffff;
	border-radius: 1rem;
	// font-size: 2rem;
	// height: 40%;
	// background-color: red;
	font-family: "Lato", sans-serif;

	.newTodoForm {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		width: 100%;
		padding: 2em;
		gap: 30px;
		border-radius: 10px;

		h1 {
			display: inline-block;
			color: #000000;
			font-size: 3.4em;
			font-weight: 400;
			padding: 0.8em;
			letter-spacing: 0.01em;
		}

		textarea {
			width: 100%;
			background-color: #fff;
			cursor: pointer;
			font-size: 1.5rem;
			padding: 1rem;
			border-radius: 0.5em;
		}

		textarea::placeholder {
			padding-left: 0.8em;
			color: #000000;
			font-size: 2rem;
			color: grey;
			padding-top: 0.5em;
		}

		input {
			width: 100%;
			height: 100px;
			opacity: 0.5;
			background-color: #8fd9ee;
			border-radius: 0.5em;
			font-size: 2rem;
			padding: 0.8em;
			cursor: pointer;
		}

		input::placeholder {
			color: #000000;
			font-size: 2rem;
		}

		.btnAddTask {
			display: inline-flex;
			justify-content: space-around;
			align-items: center;
			// padding: 0.8em;
			width: 25%;
			height: 80px;
			background-color: #6495ed;
			border: none;
			border-radius: 0.6em;
			font-size: 2.5rem;
			letter-spacing: 0.2rem;
			color: #ffff;
			cursor: pointer;
			& > span {
				display: inline-flex;
				align-items: center;
			}
		}
	}
}

.success {
	position: absolute;
	display: flex;
	justify-content: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 30%;
	height: 200px;
	// min-height: 9em;
	background-color: #8fd9ee;
	border-radius: 1rem;
	color: #ffffff;
	// text-align: center;
	align-items: center;
	font-size: 3em;
}
